---
import { getEntry, getCollection } from "astro:content";
import ListView from "@components/ListView";

const bios = await getCollection("bios");
const biosData = bios.map((bio) => ({ slug: bio.id, ...bio.data }));
---

<ListView data={biosData} client:load />

<div class="hidden">
  {
    bios &&
      bios.map(({ data }) => {
        const {
          firstName,
          lastName,
          knownAs,
          image,
          authors,
          organisation,
          role,
          nationality,
          country,
          startYear,
          endYear,
        } = data;
        return (
          <div>
            {lastName}, {firstName}, aka: {knownAs}, {organisation}, {role},{" "}
            {nationality}, {country}, {startYear}-{endYear},{authors}
            <img
              src={"data:image/png;base64," + image.data}
              class="inline-block h-32"
            />{" "}
          </div>
        );
      })
  }
</div>
